# Flutter/Dart/Pub
.dart_tool/
.packages
.pub/
build/

# Android
android/.gradle/
android/local.properties
**/*.keystore
**/*.jks

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/ephemeral/
*.xcuserstate

# IDE
.vscode/
.idea/
*.iml

# Secrets
.env